{% extends 'base.html.twig' %}

{% block body %}
<h1>Products page</h1>
<a href="{{ url('app_product_new')}}">New product</a>
<ul>
    {% for product in products %}
        <li>
            <div>
                {{ product.name }}
            </div>
            <form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Are you sure?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete-product' ~ product.id) }}">
                <button class="btn btn-danger">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}